GATraining/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ANeuralNetwork" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ANeuralNetwork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1924/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ANetwork">
    <xs:sequence>
      <xs:element name="layers" nillable="true" type="tns:ArrayOfALayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ANetwork" nillable="true" type="tns:ANetwork" />
  <xs:complexType name="ArrayOfALayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ALayer" nillable="true" type="tns:ALayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfALayer" nillable="true" type="tns:ArrayOfALayer" />
  <xs:complexType name="ALayer">
    <xs:sequence>
      <xs:element name="neurons" nillable="true" type="tns:ArrayOfANeuron" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ALayer" nillable="true" type="tns:ALayer" />
  <xs:complexType name="ArrayOfANeuron">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ANeuron" nillable="true" type="tns:ANeuron" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfANeuron" nillable="true" type="tns:ArrayOfANeuron" />
  <xs:complexType name="ANeuron">
    <xs:sequence>
      <xs:element minOccurs="0" name="actType" type="xs:int" />
      <xs:element minOccurs="0" name="links" nillable="true" type="tns:ArrayOfALink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ANeuron" nillable="true" type="tns:ANeuron" />
  <xs:complexType name="ArrayOfALink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ALink" nillable="true" type="tns:ALink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfALink" nillable="true" type="tns:ArrayOfALink" />
  <xs:complexType name="ALink">
    <xs:sequence>
      <xs:element minOccurs="0" name="layer" type="xs:int" />
      <xs:element minOccurs="0" name="neuron" type="xs:int" />
      <xs:element minOccurs="0" name="weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ALink" nillable="true" type="tns:ALink" />
  <xs:complexType name="ArrayOfStudyData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudyData" nillable="true" type="tns:StudyData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudyData" nillable="true" type="tns:ArrayOfStudyData" />
  <xs:complexType name="StudyData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="input" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="output" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudyData" nillable="true" type="tns:StudyData" />
</xs:schema>