GATraining/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AISdb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AISdb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAISTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AISTask" nillable="true" type="tns:AISTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAISTask" nillable="true" type="tns:ArrayOfAISTask" />
  <xs:complexType name="AISTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_error" type="xs:float" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fpath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ttype" type="tns:TaskType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AISTask" nillable="true" type="tns:AISTask" />
  <xs:simpleType name="TaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GeneticAlgorithm" />
      <xs:enumeration value="ArtificialNeuralNetwork" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskType" nillable="true" type="tns:TaskType" />
</xs:schema>