TrainerGUIForms/Service154.xsd/Service154.xsd/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ANeuralNetwork" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ANeuralNetwork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1924/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfStudyData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudyData" nillable="true" type="tns:StudyData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudyData" nillable="true" type="tns:ArrayOfStudyData" />
  <xs:complexType name="StudyData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="input" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="output" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudyData" nillable="true" type="tns:StudyData" />
</xs:schema>